{% extends "flask_user/public_base.html" %}

{% block content %}
<h1>{%trans%}Sign in{%endtrans%}</h1>

<form action="{{url_for('user.login')}}" method="POST">
  {% set field = form.username %}
  {% if user_manager.enable_register and not user_manager.require_invitation %}
      <a href="{{ url_for('user.register') }}" tabindex='190'>
          {%trans%}New here? Register.{%endtrans%}</a>
  {% endif %}
  {{ login_form.hidden_tag() }}
  <input type="hidden" name="next_page" value="{% autoescape false %} {{ request.args.get('next') }} {% endautoescape %} "/>
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="username">Username</label>
    <input type="username" class="form-control"  aria-describedby="usernameHelp" placeholder="Enter username" name="username">
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
  </div>
  {% set field = form.password %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="Password1">Password</label>
    <input type="password" class="form-control" id="Password1" placeholder="Password" name="password">
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock content %}

