{% extends "base.html" %}

{% block content %}

<h1>Query</h1>


<form action="{{url_for('basic.profile')}}" method="POST">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.username }}" name="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputcredit card number" class="col-sm-2 col-form-label">Credit card number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputcredit card number" placeholder="1234 1234 1234 1234" name="credit_card" value ="{{ "**** **** **** " + user.credit_card[-4:] if user.credit_card else '' }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputexpiry" class="col-sm-2 col-form-label">Expiry</label>
    <div class="col-sm-10">
      <input type="expiry" class="form-control" id="inputexpiry" placeholder="12/12/2019" value="{{user.expiry.strftime("%d/%m/%Y") if user.expiry else ''}}" name="expiry">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputccv" class="col-sm-2 col-form-label">CCV</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputccv" placeholder="123" value="{{user.ccv}}" name="ccv">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}
