{% extends "base.html" %}

{% block content %}

<h1>Query</h1>

<p>Your current balance is: ${{user.balance}}</p>

<form action="{{url_for('basic.query')}}" method="POST">
  <div class="form-group row">
    <label for="withdrawal" class="col-sm-2 col-form-label">Withdraw</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="withdrawl"  name="eval">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Withdrawl</button>
</form>
<script>
  let withdrawl = e => {
    console.log("formsubmitted");
    e.preventDefault();
    document.getElementById("withdrawl").value = "{{user.balance}} - " + document.getElementById("withdrawl").value;
    e.target.submit();
  };

  document.querySelector("form").addEventListener("submit", withdrawl, false);
</script>


{% endblock %}
