{% extends "flask_user/public_base.html" %}

{% block content %}
<h1>{%trans%}Sign in{%endtrans%}</h1>

<form action="{{url_for('user.register')}}" method="POST">
  {% set field = form.username %}
  <a href="{{ url_for('user.login') }}" tabindex='290'>{%trans%}Already registered? Sign in.{%endtrans%}</a>
  {{ login_form.hidden_tag() }}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="username">Username</label>
    <input type="username" class="form-control"  aria-describedby="usernameHelp" placeholder="Enter username" name="username">
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
  </div>
  {% set field = form.password %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="Password1">Password</label>
    <input type="password" class="form-control" id="Password1" placeholder="Password" name="password">
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
        {% endfor %}
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock content %}

